.container{
	margin-top: 50px;
}

#nav{
	background-color: #28A745;
	padding: 10px;
}

.nav-item{
	border-radius: 4px;
	color: white;
	text-decoration: none;
	font-weight: bold;
	padding: 5px 10px;
	display: inline-block;
	transition: background-color .25s;
}

.nav-item:hover{
	text-decoration: none;
	cursor: pointer;
	background-color: #2BBA46;
	color: white;
}

.interfaz{
	margin: 20px 0;
}

.interfaz + hr{
	margin-top: 120px;
	margin-bottom: 120px;
}

#volver-arriba{
	position: fixed;
	background-color: #000C;
	color: #FFFD;
	text-decoration: none;
	padding: 10px;
	border-radius: 4px;
	bottom: 20px;
	right: 5%;
}

#volver-arriba:hover{
	background-color: black;
	color: white;
}